.card-wrapper {
    height: 100vh;
    display: block;
    scroll-snap-align: start;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
}

.card-image {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    width: 80%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.6);
}